* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}
.bill {
    transform: translateX(28px);
}
body {
    font-family: $family;
    background-color: $bg;
    &.dark {
        background-color: #111;
        color: $mooni;

        .calculator-body {
            background-color: #221d1d;
            box-sizing: $darkshadow;

            input {
                background-color: $input-bg;
                box-sizing: $darkshadow !important;
                color: $mooni;
                &::placeholder {
                    color: $mooni;
                }
            }
            button {
                background-color: $input-bg;
                color: $mooni;
            }
        }
    }
}
