$color:#000000;
$family:'Poppins', sans-serif;
$bg:#ecf0f3;
$shadow-1:inset 5px 5px 12px #ffffff,5px 5px 12px rgba(0,0,0,.16);
$btnshadow:inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0,0,0,.16);
$shadow-2:inset -5px -5px 12px #ffffff,inset 5px 5px 12px rgba(0,0,0,.16);
$input-color:rgb(70,70,70);