* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

.pre-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100000;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  background: #ffff;
}

.pre-loader .loader {
  position: absolute;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f3;
}

body.dark {
  background-color: #111;
  color: #ffff;
}

body.dark .calculator-body {
  background-color: #221d1d;
  -webkit-box-sizing: 1px 0px 9px #221d1d;
          box-sizing: 1px 0px 9px #221d1d;
}

body.dark .calculator-body input {
  background-color: #8f8484;
  -webkit-box-sizing: 1px 0px 9px #221d1d !important;
          box-sizing: 1px 0px 9px #221d1d !important;
  color: #ffff;
}

body.dark .calculator-body input::-webkit-input-placeholder {
  color: #ffff;
}

body.dark .calculator-body input:-ms-input-placeholder {
  color: #ffff;
}

body.dark .calculator-body input::-ms-input-placeholder {
  color: #ffff;
}

body.dark .calculator-body input::placeholder {
  color: #ffff;
}

body.dark .calculator-body button {
  background-color: #8f8484;
  color: #ffff;
}

.switch-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.switch-mode .check {
  opacity: 0;
}

.switch-mode .check:checked + .icon .ball {
  -webkit-transform: translateX(28px);
          transform: translateX(28px);
}

.switch-mode .icon {
  width: 60px;
  height: 26px;
  background-color: #292c35;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  -webkit-transform: scale(1.5) translateY(14px) translateX(-1px);
          transform: scale(1.5) translateY(14px) translateX(-1px);
}

.switch-mode .icon .fa-moon {
  color: #ffff;
}

.switch-mode .icon .fa-sun {
  color: #f1c40f;
}

.switch-mode .icon .ball {
  width: 22px;
  position: absolute;
  border-radius: 50px;
  top: 2px;
  left: 2px;
  height: 22px;
  background-color: #ffff;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .calculator-body {
  background-color: #ecf0f3;
  padding: 18px;
  border-radius: 30px;
  -webkit-box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
          box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (73px)[4];
      grid-template-columns: repeat(4, 73px);
}

.main-container .calculator-body p {
  grid-column: span 4;
}

.main-container .calculator-body input {
  grid-column: span 4;
  width: 260px;
  height: 68px;
  background-color: #ecf0f3;
  -webkit-box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0, 0, 0, 0.16);
          box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 30px;
  color: #464646;
  font-size: 50px;
  text-align: right;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 30px;
  padding: 20px;
}

.main-container .calculator-body input:focus {
  outline: none;
}

.main-container .calculator-body button {
  width: 50px;
  height: 50px;
  background-color: #ecf0f3;
  -webkit-box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
          box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  margin: 8px;
  font-size: 19px;
}

.main-container .calculator-body button:last-child {
  width: 130px;
}

.main-container .calculator-body button:hover {
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .main-container .calculator-body {
    margin: 10px;
    width: 100%;
    padding: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .main-container {
    padding: 12px;
  }
}
/*# sourceMappingURL=style.css.map */