@import "./varible";
@import "./reset";
.switch-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    .check {
        opacity: 0;
        &:checked + .icon .ball {
            transform: translateX(28px);
        }
    }
    .icon {
        width: 60px;
        height: 26px;
        background-color: $bong;
        border-radius: 50px;
        display: flex;
        padding: 9px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        position: relative;
        transform: scale(1.5) translateY(14px) translateX(-1px);
        .fa-moon {
            color: $mooni;
        }
        .fa-sun {
            color: $suni;
        }
        .ball {
            width: 22px;
            position: absolute;
            border-radius: 50px;
            top: 2px;
            left: 2px;
            height: 22px;
            background-color: $mooni;
            transition: transform 0.4s linear;
        }
    }
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .calculator-body {
        background-color: $bg;
        padding: 18px;
        border-radius: 30px;
        box-shadow: $shadow-1;
        display: grid;
        grid-template-columns: repeat(4, 73px);
        p{
            grid-column: span 4;
        }
        input {
            grid-column: span 4;
            width: 260px;
            height: 68px;
            background-color: $bg;
            box-shadow: $shadow-2;
            border: none;
            border-radius: 30px;
            color: $input-color;
            font-size: 50px;
            text-align: right;
            margin: auto;
            margin-top: 45px;
            margin-bottom: 30px;
            padding: 20px;
            &:focus {
                outline: none;
            }
        }
        button {
            width: 50px;
            height: 50px;
            background-color: $bg;
            box-shadow: $btnshadow;
            border-radius: 30px;
            margin: 8px;
            font-size: 19px;
            &:last-child {
                width: 130px;
            }
            &:hover {
                cursor: pointer;
            }
        }
        @media screen and (max-width: 320px) {
            margin: 10px;
            width: 100%;
            padding: 5px;
        }
    }
    @media screen and (max-width: 1000px) {
        padding: 12px;
    }
}
